{% extends "email/base.html" %}
{% block banner_icon %}
    💸
{% endblock banner_icon %}
{% block banner_bg %}
    #673AB7
{% endblock banner_bg %}
{% block banner_title %}
    Transfert de fonds effectué
{% endblock banner_title %}
{% block content %}
    <p>Bonjour {{ user.first_name }},</p>
    <p>
        Le transfert des fonds pour la réservation <strong>{{ reservation.code }}</strong> concernant le logement <strong>{{ logement.name }}</strong> a été effectué.
    </p>
    <p>
        Montant transféré : <strong>{{ amount }} €</strong>
    </p>
    <p>
        Merci de votre confiance.
        <br>
        L'équipe {{ entreprise.name }}
    </p>
{% endblock content %}
