__pycache__/
*.py[cod]

# Logs
*.log
django.log*

# Environment files
.env

# Virtual environment
venv/
env/


# IDEs/editors
.vscode/

# Build artifacts
dist/
build/
*.egg-info/

# Django
migrations/
media/
db.sqlite3
staticfiles/