# Python cache
__pycache__/
*.py[cod]
*.so

# Virtual environments
venv/
env/
.venv/
.pdm-python/
__pypackages__/

# Environment variables & secrets
.env
.env.*

# Logs & debug
*.log
*.log.*
*.sqlite3
debug.log
django.log*

# Django static/media/db
staticfiles/
media/
db.sqlite3


# Build / packaging
build/
dist/
*.egg-info/
.eggs/
*.manifest
*.spec

# Test & coverage
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
.pytest_cache/
nosetests.xml
coverage.xml

# IDEs / Editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Linting & config
*.toml
*.flake8
*.mypy_cache/
.dmypy.json
.pyre/

# System files
.DS_Store
Thumbs.db

# OS specific
Icon?
ehthumbs.db
