{% extends "base.html" %}
{% block content %}

<form method="post" class="form-box">
    <h2>Ajouter un logement</h2>
    {% csrf_token %}
    
    <div class="form-group">
        <label for="{{ form.name.id_for_label }}">Nom</label>
        {{ form.name }}
    </div>

    <div class="form-group">
        <label for="{{ form.description.id_for_label }}">Description</label>
        {{ form.description }}
    </div>

    <div class="form-group">
        <label for="{{ form.price.id_for_label }}">Prix par nuit</label>
        {{ form.price }}
    </div>

    <div class="form-group">
        <label for="{{ form.max_travelers.id_for_label }}">Nombre de Guests maximum</label>
        {{ form.max_traveler }}
    </div>

    <div class="form-group">
        <label for="{{ form.nominal_traveler.id_for_label }}">Nombe de Guests Nominal</label>
        {{ form.nominal_traveler }}
    </div>

    <div class="form-group">
        <label for="{{ form.bedrooms.id_for_label }}">Nombre de Chambres</label>
        {{ form.bedrooms }}
    </div>

    <div class="form-group">
        <label for="{{ form.fee_per_extra_traveler.id_for_label }}">Frais par Extra Guest</label>
        {{ form.fee_per_extra_traveler }}
    </div>

    <div class="form-group">
        <label for="{{ form.cleaning_fee.id_for_label }}">Frais de ménage</label>
        {{ form.cleaning_fee }}
    </div>

    <div class="form-group">
        <label for="{{ form.tax.id_for_label }}">Taxe de Séjour</label>
        {{ form.tax }}
    </div>

    <div class="button-row">
        <button type="submit" class="btn-submit">💾 Enregistrer</button>
    </div>
</form>
{% endblock %}