/* Specific to the Reservation Form Page */
#reservation-form-card {
    background-color: #f8f9fa;
    border-radius: 15px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
    padding: 30px;
}

#reservation-form .card {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

#reservation-form {
    margin-top: 15px;
    padding: 0px mp !important;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    font-size: 0.9rem;
    color: #555;
    line-height: 1;
}

#reservation-form h1 {
    font-size: 2.5rem;
    font-weight: 600;
    color: #2b3d55;
    margin-bottom: 20px;
}

#reservation-form .form-group {
    margin-bottom: 20px;
}

#reservation-form .form-group label {
    font-weight: 600;
    color: #333;
}

#reservation-form .form-control {
    border-radius: 10px;
    border: 1px solid #ccc;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    font-size: 0.9rem;
    padding: 12px;
    margin-bottom: 12px;
}

#reservation-form .form-control:focus {
    border-color: #2b3d55;
    box-shadow: 0 0 5px rgba(43, 124, 255, 0.6);
}

#reservation-form button.btn {
    font-size: 1.2rem;
    padding: 12px 30px;
    border-radius: 25px;
    transition: all 0.3s ease;
    background-color: #2b3d55;
    border: none;
    color: white;
}

#reservation-form button.btn:hover {
    background-color: #1a5fd1;
    transform: scale(1.05);
}

#reservation-form .alert-danger {
    background-color: #ffd6d6;
    color: #d33;
    border-radius: 8px;
    padding: 15px;
}

#reservation-form .alert-danger ul {
    list-style: none;
    padding-left: 0;
}

#reservation-form .alert-danger li {
    font-size: 1rem;
}

/* Compact reservation summary */
#reservation-summary-card {
    background-color: #fff;
    padding: 25px;
    max-width: 500px;
    margin:auto;
}

#reservation-summary-card h4 {
    font-size: 1.6rem;
    color: #333;
}

#reservation-summary-card .card-body {
    padding: 20px;
}

#reservation-summary-card p {
    font-size: 0.9rem;
    color: #555;
    line-height: 1;
}

#reservation-form button {
    font-size: 1.1rem;
    padding: 10px 25px;
    border-radius: 25px;
    background-color: #2b3d55;
    color: white;
    border: none;
    transition: all 0.3s ease;
}

#reservation-form button:hover {
    background-color: #1a5fd1;
    transform: scale(1.05);
}

@media screen and (max-width: 900px) {

    #reservation-form-card {
        padding: 20px;
    }
    #reservation-form {
        padding: 0px !important;
    }
    #reservation-form h1 {
        font-size: 2rem;
    }

    #reservation-form h3 {
        font-size: 1.5rem;
    }

    #reservation-form h4 {
        font-size: 1.2rem;
    }

    #reservation-form {
        display: flex;
        flex-direction: column;
        gap: 12px;
      }
    
    #reservation-form .form-group {
    width: 100%;
    }

    #reservation-form .form-control {
    width: 100%;
    font-size: 1rem;
    padding: 10px;
    }
}

