{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block extrahead %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'accounts/css/login.css' %}">
{% endblock extrahead %}
{% block content %}
    {% if form.errors %}
        <div class="form-errors">
            {% for field in form %}
                {% for error in field.errors %}<div class="error">{{ error }}</div>{% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}<div class="error">{{ error }}</div>{% endfor %}
        </div>
    {% endif %}
    <div class="auth-container">
        <h2>{% trans "Connexion" %}</h2>
        <form method="post">
            {% csrf_token %}
            <label for="id_username">{% trans "Nom d’utilisateur" %}</label>
            {{ form.username }}
            <label for="id_password">{% trans "Mot de passe" %}</label>
            {{ form.password }}
            <button class="btn btn-primary type="submit">{% trans "Se connecter" %}</button>
        </form>
        <div class="text-center mt-3">
            <a href="{% url 'accounts:register' %}"
               class="btn btn-secondary register-btn">{% trans "Créer un compte" %}</a>
        </div>
        <div class="text-center mt-3">
            <p class="mt-2 small">
                {% trans "Mot de passe oublié ?" %} <a href="{% url 'accounts:password_reset' %}">{% trans "Réinitialiser mon mot de passe" %}</a>
            </p>
            <p class="mt-2 small">
                {% trans "Pas reçu l'email ?" %} <a href="{% url 'accounts:resend_activation_email' %}">{% trans "Renvoyer l'email de confirmation" %}</a>
            </p>
        </div>
    </div>
{% endblock content %}
