{% extends 'base.html' %}
{% load static %}

{% block extrahead %}
  {{ block.super }}  
  <link rel="stylesheet" href="{% static 'common/css/errors.css' %}">
{% endblock %}

{% block content %}
<section class="error-container">
  <div class="error-box">
    <h1 class="error-title">Erreur 500</h1>
    <p class="error-subtitle">Erreur interne du serveur</p>
    <p class="error-description">
      Une erreur inattendue est survenue. Nos équipes ont été alertées et travaillent à la résolution du problème.
    </p>
    <a href="{% url 'common:home' %}" class="error-button">Retour à l’accueil</a>
  </div>
</section>
{% endblock %}